.main {
  align-items: center;
  background-color: #ebf4fb;
  display: flex;
  justify-content: center;
  min-block-size: 100vh;
  padding: 30px;
}

.card {
  background-color: #fff;
  border-radius: 30px;
  inline-size: 100%;
  max-inline-size: 1257px;
  padding: 30px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-block-start: 27px;
}