.currency-description {
  margin: 0;
  color: #767676;
  font-size: 21px;
}

.currency-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.currency-title {
  margin: 0;
  color: #000;
  font-size: 26px;
  font-weight: 700;
}
